*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // desktop-first
  @include respond(tab-horizontal) {
    font-size: 100%; // 16px
  }

  @include respond(tab-port) {
    font-size: 75%; // 12px
  }

  @include respond(phone) {
    font-size: 62.5%; // 10px
  }
}

body {
  box-sizing: border-box;
}

a {
  &:link,
  &:visited {
    display: block;
    text-decoration: none;
  }
}

ol,
ul {
  list-style: none;
}
