@mixin absCenter($x_axis: 50%) {
  position: absolute;
  top: $x_axis;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == tab-horizontal {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 1024px) {
      @content;
    }
  }
}
