$color-primary: #bb9175;
$color-secondary: #ecdcc2;
$color-tertiary: #e0c69b;
$color-green: #20c997;
$color-grey: #adadad;
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #4b7998;

$font-xl: 2.5rem;
$font-l: 2rem;
$font-m: 1.5rem;
$font-s: 1rem;
