.cart {
  background-color: $color-secondary;
  padding: 1.5rem 3rem;
  position: relative;

  @include respond(phone) {
    padding: 1rem 1rem;
  }

  &__prograss {
    margin-bottom: 3rem;

    @include respond(tab-port) {
      margin-bottom: 5rem;
    }

    &-bar {
      font-size: $font-m;
      font-weight: bold;
      letter-spacing: 1rem;

      @include respond(phone) {
        letter-spacing: 0.5rem;
      }
    }
  }

  &__container {
    width: 80%;
    padding: 1rem 3rem;
    margin: 7rem auto 0 auto;

    @include respond(tab-horizontal) {
      width: 85%;
    }

    @include respond(tab-port) {
      width: 90%;
      margin: 11rem auto 0 auto;
    }

    @include respond(phone) {
      padding: 1rem 0rem;
      width: 100%;
    }
  }

  &__customerCart {
    padding: 1rem 2rem;
    border: 2px solid $color-primary;
    border-radius: 1rem;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    :hover {
      color: $color-white;
    }
  }

  &__myBtn {
    background-color: $color-blue;
    color: $color-white;
  }
}
