.favorite {
  background-color: $color-secondary;
  padding: 2rem 4rem;

  &__btn {
    margin-bottom: 2rem;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__date {
    color: $color-grey;
    font-size: $font-s;
    letter-spacing: 1px;
    position: absolute;
    right: 1rem;
    bottom: 0.25rem;
  }
}
