.shop {
  padding: 1.5rem 3rem;
  background-color: $color-secondary;

  &__nav {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__main {
    display: flex;
    align-items: flex-start;
  }

  &__topSide {
    // width: 100px;
    // height: 100px;
    // background-color: $color-primary;
    // margin-left: 2.8rem;
    // clip-path: polygon(0 43%, 5% 49%, 51% 9%, 95% 49%, 100% 43%, 51% 0);
  }

  &__sidebar {
    background-color: $color-tertiary;
    border: 7px solid $color-primary;
    // margin-top: -3.6rem;
    letter-spacing: 3px;
    flex-basis: 400px;
    padding: 1rem 0;
    margin-right: 3rem;
    border-radius: 10px;
    cursor: pointer;
  }

  &__list {
    color: $color-white;
    padding: 0;
    margin: 0;

    li {
      font-size: $font-m;
      padding: 0.5rem 3rem;
    }

    &--inner {
      margin-top: 0.5rem;
      padding: 0;
      transition: all 1s;
      display: none;

      li {
        display: block;
        font-size: $font-s;
        padding: 0.5rem 0;
        transition: 0.5s;

        &:hover {
          color: $color-blue;
        }

        &:active {
          transform: translateX(-50%);
        }
      }
    }
  }

  &__products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.myBtn {
  &--blue {
    background-color: $color-blue;
    color: $color-white;

    &:hover {
      background-color: lighten($color-blue, 10%);
      color: $color-white;
      transition: all 0.5s;
    }
  }
}

.active {
  display: block;
}

.activeList {
  transition: background-color 1s;
  background-color: $color-primary;
  border: 3px solid #fff;
}
