.shop {
  padding: 1.5rem 3rem;
  background-color: $color-secondary;

  &__nav {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__main {
    display: flex;
    align-items: flex-start;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__sidebar {
    flex: 0 0 18rem;
    margin-right: 3rem;

    @include respond(tab-horizontal) {
      flex: 0 0 15rem;
    }

    @include respond(tab-port) {
      width: 80%;
      margin: 0 auto 3rem auto;
    }

    @include respond(phone) {
      width: 95%;
    }

    &--body {
      background-color: $color-tertiary;
      border: 7px solid $color-primary;
      letter-spacing: 3px;
      padding: 1rem 0;
      border-radius: 10px;
      box-shadow: 0 1rem 1rem rgba($color-primary, 0.4);
      cursor: pointer;
    }

    &--top {
      display: flex;
      justify-content: space-around;

      &-L,
      &-R {
        background-color: $color-primary;
        width: 10px;
        height: 5rem;

        &::before {
          content: '';
          display: block;
          width: 1.25rem;
          height: 1.25rem;
          background-color: inherit;
          border-radius: 50%;
          position: absolute;
          transform: translate(-25%, -50%);

          @include respond(tab-port) {
            transform: translate(-18%, -50%);
          }

          @include respond(phone) {
            transform: translate(-10%, -50%);
          }
        }
      }
    }
  }

  &__list {
    color: $color-white;
    padding: 0;
    margin: 0;

    li {
      font-size: $font-m;
      padding: 0.5rem 3rem;
    }

    &--inner {
      margin-top: 0.5rem;
      padding: 0;
      transition: all 1s;
      display: none;

      li {
        display: block;
        font-size: $font-s;
        padding: 0.5rem 0;
        transition: 0.5s;

        &:hover {
          color: $color-blue;
        }

        &:active {
          transform: translateX(-20%);
        }
      }
    }
  }

  &__link {
    color: $color-white;

    &:hover {
      color: $color-blue;
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;

    @include respond(tab-port) {
      justify-content: center;
      margin-left: 1.5rem;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    &::before {
      content: '________________';
      color: $color-primary;
      padding: 0.8rem 1rem 0 0;

      @include respond(phone) {
        display: none;
      }
    }

    &::after {
      content: '________________';
      color: $color-primary;
      padding: 0.8rem 0 0 1rem;

      @include respond(phone) {
        display: none;
      }
    }
  }
}

.myBtn {
  &--blue {
    background-color: $color-blue;
    color: $color-white;

    &:hover {
      background-color: lighten($color-blue, 10%);
      color: $color-white;
      transition: all 0.5s;
    }
  }
}

.active {
  display: block;
}

.activeList {
  transition: background-color 1s;
  background-color: $color-primary;
  border: 3px solid #fff;
}
